
@model Product

    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>

    <div class="btn-group">
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark">Back</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-light">Home</a>
    </div>