@model IEnumerable<Product>

    @section Footer{
    <div>
        <p>footer for product index only</p>
    </div>
    }

    <div class="row">
        @foreach(var p in Model)
        {
        <partial name="_ProductCard" model="@p" />
        }
    </div>